* {
  box-sizing: border-box;
  font-family: 'Playfair Display Regular', sans-serif;
  background-color: #0e2b44;
  color: #f6f6f4;
}

#card-button {
  margin: auto;
  color: #938e82;
  font-size: small;
  font-weight: 100;
}

#movie-card {
  text-align: center;
  margin-bottom: auto;
  border-color: #c6981e;
  border-width: 10px;
}

#card-title {
  font-size: medium;
  font-weight: 200;
}