* {
  box-sizing: border-box;
  font-family: 'Playfair Display Regular', sans-serif;
  background-color: #0e2b44;
  color: #f6f6f4
}

#logout-button {
  position: fixed;
  bottom: auto;
  right: auto;
  color: #0e2b44;
  background-color: #f6f6f4;
  border: none;
  font-size: small;
  font-weight: 100
}