<<<<<<< Updated upstream
=======
* {
  box-sizing: border-box;
  font-family: 'Playfair Display Regular';
  background-color: #cfa120;
  color: #f6f6f4;
}
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======

#login-form {
  max-width: fit-content;
}

#login-form-label {
  font-size: small;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: auto;
}

#login-card-title {
  font-size: small;
  font-weight: 100;
  text-align: center;
  color: #cfa120;
}

#login-card {
  border-color: rgba(0, 0, 0, 0.486);
  border-width: 10px;
  padding: 15px;
  background-color: #cfa120;
}

#login-button {
  margin-top: auto;
  margin-bottom: auto;
  color: rgba(0, 0, 0, 0.486);
  background-color: cadetblue;
  border: none;
  float: right;
  margin-top: auto;
  font-size: smaller;
  font-weight: 100;
}
>>>>>>> Stashed changes
